.color-box {
  margin: auto;
}

.text-bar {
  width: 260px;
  height: 50px;
}

.color-button {
  width: 40px;
  height: 56px;
}

.color-container {
  padding-top: 20px;
}

.movie-details {
  width: 400px;
  text-align: center;
}

.container-top {
  margin-top: 30px;
}

.movie-poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

.movie-specs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  padding: 25px;
}

.App {
  text-align: center;
}

/* .like-dislike {
  text-align: left;
  margin-left: 15px;
} */

.image-404 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
}

.movie-details-container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.movie-details-heading {
  padding: 0 100px;
  margin: 0;
  text-align: start;
}

.movie-details-inner-container1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px;
  box-sizing: border-box;
}

.movie-detail-poster {
  flex: 0 0 30%;
  /* 30% width */
  height: auto;
  max-width: 30%;
}

.movie-details-trailer {
  flex: 0 0 70%;
  /* 70% width */
  height: auto;
  max-width: 70%;
}

.movie-details-trailer iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .movie-details-inner-container1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
    box-sizing: border-box;
    flex-direction: column;
  }

  .movie-details-heading {
    padding: 0;
    margin: 0;
    text-align: start;
  }

  .movie-detail-poster {
    max-width: 40%;
    flex: 0 0 100%;
    /* Both elements take full width on smaller screens */
  }

  .movie-details-trailer {
    max-width: 100%;
    flex: 0 0 100%;
    height: 100%;
    /* Both elements take full width on smaller screens */
  }
}



.Home-Page-container {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  background-size: cover;
  box-sizing: border-box;
}

.homepage-image {
  width: 100%;
  height: 100%;
}

.movie-summary {
  height: 200px;
}

.movie-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}